debian/.debhelper
debian/tmp
build/*
build-gtk3/*
autom4te.cache
m4
Makefile.in
debian/stamp*
debian/autoreconf*
configure
config.*

aclocal.m4
build-stamp
build-stamp-gtk3
compile
configure-stamp
configure-stamp-gtk3
depcomp
install-sh
ltmain.sh
missing
test-driver
